
.todo {
  margin: 0 auto;
  width: 500px;  
}

.todo-content {
  list-style: none;
  padding-left: 0;
}

.todo-content li {
  padding: 20px 5px;
}

.todo-content .todo-item--undo {

}

.todo-content .todo-item--done {
  text-decoration: line-through;
  color: #eee;
}